Intune_Workflows/09_Remote_Action_Webhook.json
{
    "name": "09_Remote_Action_Webhook",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "intune-action",
                "options": {}
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.action }}",
                            "operation": "equal",
                            "value2": "rebootNow"
                        }
                    ]
                }
            },
            "name": "Check Action Type",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "microsoftGraphOAuth2Api",
                "requestMethod": "POST",
                "url": "=https://graph.microsoft.com/v1.0/deviceManagement/managedDevices/{{ $json.body.deviceId }}/rebootNow",
                "options": {}
            },
            "name": "Execute Reboot",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                200
            ],
            "credentials": {
                "microsoftGraphOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Microsoft Graph Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "microsoftGraphOAuth2Api",
                "requestMethod": "POST",
                "url": "=https://graph.microsoft.com/v1.0/deviceManagement/managedDevices/{{ $json.body.deviceId }}/syncDevice",
                "options": {}
            },
            "name": "Execute Sync",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                400
            ],
            "credentials": {
                "microsoftGraphOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Microsoft Graph Account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Response Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Check Action Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Action Type": {
            "main": [
                [
                    {
                        "node": "Execute Reboot",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Sync",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Reboot": {
            "main": [
                [
                    {
                        "node": "Response Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Sync": {
            "main": [
                [
                    {
                        "node": "Response Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}