Intune_Workflows/12_Password_Expiry_Notifier.json
{
    "name": "12_Password_Expiry_Notifier",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "name": "Daily Check",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "microsoftGraphOAuth2Api",
                "requestMethod": "GET",
                "url": "https://graph.microsoft.com/v1.0/users?$select=id,displayName,userPrincipalName,passwordPolicies,lastPasswordChangeDateTime",
                "options": {}
            },
            "name": "Get Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "credentials": {
                "microsoftGraphOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Microsoft Graph Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const maxAgeDays = 90;\nconst warningThreshold = 7;\nconst now = new Date();\n\nreturn items.filter(item => {\n  const user = item.json;\n  if (user.passwordPolicies && user.passwordPolicies.includes('DisablePasswordExpiration')) return false;\n  \n  const lastChange = new Date(user.lastPasswordChangeDateTime);\n  const ageDays = (now - lastChange) / (1000 * 60 * 60 * 24);\n  const daysLeft = maxAgeDays - ageDays;\n  \n  item.json.daysLeft = Math.floor(daysLeft);\n  \n  return daysLeft > 0 && daysLeft <= warningThreshold;\n});"
            },
            "name": "Filter Expiring",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "it@yourdomain.com",
                "toEmail": "={{ $json.userPrincipalName }}",
                "subject": "⚠️ Action Required: Password Expiring Soon",
                "text": "=Hi {{ $json.displayName }},\n\nYour password will expire in {{ $json.daysLeft }} days. Please change it properly."
            },
            "name": "Send Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Daily Check": {
            "main": [
                [
                    {
                        "node": "Get Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users": {
            "main": [
                [
                    {
                        "node": "Filter Expiring",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Expiring": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}