Intune_Workflows/22_License_Usage_Alert.json
{
    "name": "22_License_Usage_Alert",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days"
                        }
                    ]
                }
            },
            "name": "Daily Check",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "microsoftGraphOAuth2Api",
                "requestMethod": "GET",
                "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
                "options": {}
            },
            "name": "Get Licenses",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "credentials": {
                "microsoftGraphOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Microsoft Graph Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const skus = items[0].json.value;\nconst critical = skus.filter(sku => {\n  if (sku.capabilityStatus !== 'Enabled') return false;\n  const used = sku.consumedUnits;\n  const total = sku.prepaidUnits.enabled;\n  const ratio = used / total;\n  sku.usagePercent = Math.round(ratio * 100);\n  return ratio > 0.9;\n});\n\nreturn [{ json: { count: critical.length, details: critical } }];"
            },
            "name": "Filter High Usage",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "message": "=⚠️ **License Crunch Alert**\nThe following licenses are running low (>90% used):\n\n{{ $json.details.map(s => `- ${s.skuPartNumber}: ${s.consumedUnits}/${s.prepaidUnits.enabled} (${s.usagePercent}%)`).join('\\n') }}"
            },
            "name": "Alert Procurement",
            "type": "n8n-nodes-base.microsoftTeams",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Daily Check": {
            "main": [
                [
                    {
                        "node": "Get Licenses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Licenses": {
            "main": [
                [
                    {
                        "node": "Filter High Usage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High Usage": {
            "main": [
                [
                    {
                        "node": "Alert Procurement",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}