General_Workflows/31_Website_Uptime_Monitor.json
{
    "name": "31_Website_Uptime_Monitor",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "name": "5 Min Interval",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://your-website.com",
                "options": {
                    "responseCode": ""
                }
            },
            "name": "Check URL",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.statusCode }}",
                            "operation": "notEqual",
                            "value2": 200
                        }
                    ]
                }
            },
            "name": "If Down",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "=🔴 **Website Down!**\nStatus Code: {{ $json.statusCode }}\nTime: {{ $now }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Notify Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "5 Min Interval": {
            "main": [
                [
                    {
                        "node": "Check URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check URL": {
            "main": [
                [
                    {
                        "node": "If Down",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Down": {
            "main": [
                [
                    {
                        "node": "Notify Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}