General_Workflows/38_Daily_Tech_News_Digest.json
{
    "name": "38_Daily_Tech_News_Digest",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "name": "8AM Schedule",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://news.ycombinator.com/rss"
            },
            "name": "Hacker News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const items = items.slice(0, 5);\nconst msg = items.map((i, idx) => `${idx+1}. [${i.json.title}](${i.json.link})`).join('\\n');\nreturn [{ json: { msg } }];"
            },
            "name": "Top 5 Format",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "=📰 **Tech News Digest**\n\n{{ $json.msg }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Notify Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "8AM Schedule": {
            "main": [
                [
                    {
                        "node": "Hacker News RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hacker News RSS": {
            "main": [
                [
                    {
                        "node": "Top 5 Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Top 5 Format": {
            "main": [
                [
                    {
                        "node": "Notify Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}