More Workflows/45_Email_FollowUp_Sequence.json
{
    "name": "45_Email_FollowUp_Sequence",
    "nodes": [
        {
            "parameters": {
                "path": "new-lead",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "toEmail": "{{$json[\"body\"][\"email\"]}}",
                "subject": "Welcome!",
                "text": "Thanks for signing up."
            },
            "name": "Send Welcome Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "days"
            },
            "name": "Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "toEmail": "{{$json[\"body\"][\"email\"]}}",
                "subject": "Checking in",
                "text": "How is it going?"
            },
            "name": "Send Follow-up",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Send Welcome Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Welcome Email": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Send Follow-up",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}