More Workflows/46_Crypto_Price_Alert.json
{
    "name": "46_Crypto_Price_Alert",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 60
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
                "options": {}
            },
            "name": "Get Bitcoin Price",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json[\"bitcoin\"][\"usd\"]}}",
                            "operation": "larger",
                            "value2": 50000
                        }
                    ]
                }
            },
            "name": "IF Price > 50k",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "toEmail": "me@example.com",
                "subject": "Bitcoin Alert!",
                "text": "Bitcoin is now ${{$json[\"bitcoin\"][\"usd\"]}}"
            },
            "name": "Send Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                850,
                200
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get Bitcoin Price",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Bitcoin Price": {
            "main": [
                [
                    {
                        "node": "IF Price > 50k",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Price > 50k": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}