More Workflows/59_Support_Auto_Reply.json
{
    "name": "59_Support_Auto_Reply",
    "nodes": [
        {
            "parameters": {
                "format": "resolved"
            },
            "name": "IMAP Email",
            "type": "n8n-nodes-base.emailReadImap",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json[\"subject\"]}}",
                            "operation": "contains",
                            "value2": "Pricing"
                        }
                    ]
                }
            },
            "name": "IF Pricing",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "toEmail": "{{$json[\"from\"]}}",
                "subject": "Re: {{$json[\"subject\"]}}",
                "text": "Our pricing is available at https://example.com/pricing"
            },
            "name": "Send Reply",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "IMAP Email": {
            "main": [
                [
                    {
                        "node": "IF Pricing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Pricing": {
            "main": [
                [
                    {
                        "node": "Send Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}